#bg{
    background-image: url("bg.jpg");
    background-size: cover;
    
}

#id1{
   /* border: 2px solid ghostwhite;*/
    text-align: center;
    text-decoration: solid;
    text-shadow: 5px 5px 5px red;
    color: whitesmoke;
    margin: auto;
    padding: 10px;
    font-size: xx-large;
    font-weight: bolder;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 50px 100px;*/
    white-space: normal;

}
nav ul li{
    border: 2px solid gray;
    border-collapse: separate;
    border-radius: 2px;
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    margin-inline: 100px;
    
}
nav ul li a{
    position: relative;
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
body{
    background-image: url("C:\Users\Bhosale\Pictures\bg.jpg");
}
#info{
   
    width: 30%;
    border-radius: 10px;
    text-align: center;
    color: darksalmon;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    align-content: center;
    margin: auto;
    padding: 10px;
}